/*
    This is just temporary....
*/

body {
    padding:20px;
    margin:0;
    background: #cccccc;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

#container {
    background: #ffffff;
    margin: 10px auto;
    width: 500px;
    padding: 30px;
}

#logo {
    text-align: center;
}

#nav {
    font-size: 12px;
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

#nav ul li a {
    text-decoration: none;
}

#nav ul li a:after {
    width: 1px;
    height: 15px;
    background: #ccc;
    position: absolute;
    right: -10px;
    top: 0px;
    content: '';
}